@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.highlights {
    padding: 80px 0;
    position: relative;
    min-height: 800px;
    background: linear-gradient(135deg, #f8f9fa 0%, var(--secondary-color) 100%);

    .backgroundImage {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .container {
        min-height: 750px;
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mobile {
            min-height: 450px;
        }
    }

    @include mobile {
        min-height: 500px;
    }

}

.header {
    text-align: center;

    .title {
        font-size: 2.5rem;
        color: var(--text-dark);
        margin-bottom: 1rem;
        font-weight: 600;

        @include mobile {
            width: 80%;
            margin: 0px auto 6px;
            font-size: 2rem;
        }
    }

    .subtitle {
        color: var(--text-light);
        font-size: 1.125rem;
        max-width: 600px;
        margin: 0 auto;
        line-height: 1.6;
    }
}

.btnSection {
    width: fit-content;
    margin: 0px auto;
}